anyio==4.12.1
certifi==2026.1.4
evdev==1.9.3
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
html2text
playwright
idna==3.11
psutil==7.2.2
pycairo==1.29.0
PyGObject==3.54.5
python-dotenv==1.2.1
python-xlib==0.33
python3-pyatspi==1.19.0
six==1.17.0
typing_extensions==4.15.0
websockets==16.0
json-repair
